@model GProyOficial.Models.Contract

@{
    ViewBag.Title = "Editar Contrato";
}

<h3>Editar Contrato</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.contractId)

        <div class="form-group">
            @Html.LabelFor(model => model.number, "Número", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.number, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.number, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.signedProvider, "Firma del proveedor", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.signedProvider, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.signedProvider, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group" hidden="">
            @Html.LabelFor(model => model.nom1, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom1, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.nom1, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group" hidden="">
            @Html.LabelFor(model => model.nom2, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom2, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.nom2, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, "Descripción", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clientId, "Cliente", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <input type="number" name="idClient" value=@ViewBag.clientId id="idClient"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expirationDate, "Fecha de expiración", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.expirationDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.expirationDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.signedClient, "Firma del cliente", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.signedClient, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.signedClient, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comitteNumber, "Número de acuerdo del comité", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.comitteNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.comitteNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comitteDate, "Fecha del comité", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.comitteDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.comitteDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>
        @Html.ActionLink("Cancelar", "Index", "ClientContract", new { id = @ViewBag.clientId }, new { @class = "btn btn-danger btn-sm" }) <input type="submit" value="Aceptar" class="btn btn-default btn-sm" />
    </div>
}
