@model GProyOficial.Models.Entity

@{
    ViewBag.Title = "Detalles";
}

<h3>Detalles</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--@Html.DisplayNameFor(model => model.name)-->Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.reupCode)-->Codigo Reup
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reupCode)
        </dd>

        <dt>
           <!--@Html.DisplayNameFor(model => model.identifAbrev)-->Identificador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identifAbrev)
        </dd>

        <dt>
           <!-- @Html.DisplayNameFor(model => model.Organism.name)-->Organismo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organism.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-success btn-sm" })

    <a href="@Url.Action("Edit", "Entities", new { id = Model.entityId})" class="btn btn-info btn-sm">Editar</a>

</p>
