@model GProyOficial.Models.Product

@{
    ViewBag.Title = "Eliminar";
}



<h3>Esta seguro de que desea eliminar este registro?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--@Html.DisplayNameFor(model => model.name)-->Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.description)-->Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.version)-->Version
        </dt>

        <dd>
            @Html.DisplayFor(model => model.version)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger btn-sm" }) <input type="submit" value="Aceptar" class="btn btn-default" /> 
           
        </div>
    }
</div>
